<div class="uk-section-small uk-section-default header  ">
    <div class="uk-container uk-container-large">
        <h1>Matricula</h1>
        <ul class="uk-breadcrumb">
            <li><a routerLink="/"><b>Matriculas De Cursos</b></a></li>
        </ul>
    </div>
</div>


<div class="uk-section-small fondo">

    <div class="uk-container uk-container-large" style="margin-top: 1%">
        <div uk-grid class="uk-child-width-1-1@s uk-child-width-1-1@m uk-child-width-1-4@xl" uk-grid>

            <div>
                <div>
                    <a routerLink="/agregar/sexto">
                        <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
                            style="background-color: #3A67BA; color: white">Matricula un estudiante</button>
                    </a>
                </div>

                <div>
                    <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
                        style="background-color: #3A67BA; color: white" (click)="exportar()">Exportar
                        informacion</button>
                </div>
            </div>
        </div>
    </div>
</div>