<div uk-sticky class="uk-navbar-container tm-navbar-container uk-active">
   <div class="uk-container uk-container-expand" style="background-color: #3A67BA">
      <nav uk-navbar>
         <div class="uk-navbar-left">
            <a id="sidebar_toggle" class="uk-navbar-toggle" uk-navbar-item uk-logo></a>
         </div>
         <div class="uk-navbar-left">
            <img width="50" style="margin-left: 20%"
               src="https://s3.amazonaws.com/content.sitezoogle.com/u/147958/0cbd50757974c09e468f398e8ae7f7e0c57a66ef/original/jc-logo-red.png">
         </div>
         <div class="uk-navbar-right uk-light">
            <ul class="uk-navbar-nav">
               <h2 style="color: white; margin-left: -50%; margin-top: 1%">Matriculas Colegio Jose Acevedo Y Gomez</h2>
            </ul>
         </div>
      </nav>
   </div>
</div>