<div id="sidebar" class="tm-sidebar-left uk-background-default" style="background-color: #09265D ;">
            
    <div class="user">
        <img id="avatar" width="200" class="uk-border-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGkt2vIDqtnryHFPyURSTm0qAwxkwk0JunCO-cM85WcOTNlkcH2Q" />
        <div class="uk-margin-top"></div>
    </div>
    <hr>
    <ul class="uk-nav uk-nav-default">
        <li><a routerLink="/administracion"><i class="fas fa-users"></i><b style="color: white">Cursos</b></a></li>
    </ul>

</div>